.callout {
    max-width: 300px;
    margin: 10;
    border: 1px solid rgb(0 0 0/ 0.1);
    padding: 15px;
    background-color: #247;
    color: #fff;
}

.callout img {
    float: right;
    margin: 0 0 10px 15px;
    border: 1px solid black;
    padding: 3px;
    background-color: white;
    width: 15 0px;
    height: auto;
}

blockquote {
	margin: 0;
}

cite {
	display: block;
    border-top: 1px dotted white;
    padding-top: 0%;
    text-align: right;
    font-size: smaller;
}